<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registered Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="11" sizeMd="8">
        <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="/assets/pictures/avatar.svg"></ion-img>
              </ion-avatar>
              <ion-label> Saya</ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
