ion-item{
  border: 1px var(--ion-color-primary) solid;
  border-radius: 4px;
}

ion-button{
  --border-radius: 40px;
}

img{
  border-radius: 100px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
