<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row
            class="ion-justify-content-center ion-align-items-center main-container"
    >
      <ion-col size="11" sizeMd="8">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12">
            <ion-img src="/assets/pictures/error.svg"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
